[submodule "gtest"]
	path = gtest
	url = git@github.com:sgss/mirror-googletest.git
[submodule "cpplint"]
	path = cpplint
	url = git@github.com:sgss/mirror-cpplint.git
[submodule "glog"]
	path = glog
	url = git@github.com:sgss/mirror-glog.git
[submodule "gflags"]
	path = gflags
	url = https://code.google.com/p/gflags/
